.messageSender { 
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 100%;
}

.messageSender__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.messageSender_top > form { 
    flex: 1;
    display: flex;
}

.messageSender__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messageSender__top > form > button:disabled {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    color: grey;
}
.messageSender__top > form > button:enabled {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: purple;
    color: black;
}

.messageSender_input {
    flex: 1;
}